@media (width > 1440px) {
    
    h1 {
        width: 439px;
        color: white;
        font-size: 22px;
        font-family: 'Red Hat Text';
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 7.50px;
    }
    .box {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 150px;
        height: 150px;
        margin-top: 40px;
    }
    .num {
        display: flex;
        justify-content: center;
        text-align: center;
        color: #FB5E84;
        font-size: 80px;
        font-family: 'Red Hat Text';
        font-weight: 700;
        line-height: 71px;
    }
    .txt1,.txt2,.txt3,.txt4 {
        color: #8385A9;
        font-size: 14px;
        font-family: 'Red Hat Text';
        font-weight: 700;
        letter-spacing: 5.92px;
        word-wrap: break-word
    }
    .txt1 {
        margin-left: 45px;
    }
    .txt2 {
        margin-left: 37px;
    }
    .txt3 {
        margin-left: 25px;
    }
    .txt4 {
        margin-left: 24px;
    }
    .mountainmobile {
        display: none;
    }
    .mountaindesktop {
        width: 100%;
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .icons {
        bottom: 7%;
        left: 50%;
    }
}